#newsLogo{
  width: 3%;
  height: 3%;
}

#breakingNews{
  width: 100%;
}

.container{
  position: relative;
  width: 83%;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #aa1b1b;
}

.container:hover .overlay{
  opacity: 1;
}

.text{
  color: white;
  text-align: center;
  font-size: 14px;
}

#Destacadas{
  padding: 1px;
}

#buscadas{
  width: 100%;
  height: 300px;;
  display: block;
  padding: 10px;
}

#descripcionNoticia{
  height: 200px ;
}
#descripcionMiniatura{
  height: 100px;
}
#headerWhite{
color: white;
}
#carrousel{
  background-color: #996767;
}
#headerWhite:hover {
 color: #2ba6cb;
}

#articleTitle{
  text-align: center;
}
#sub{
  color: grey;
  font-size: 120%;
  text-align: center;
}
iframe{
  width: 100%;
}
#nike{
  width: 100%;
  height: 7%;
}
#descripcion{
  text-align: left;
}
#user{
  width: 7%;
}
#ad{
  padding-left: 10%;
  width: 32%;
}
#comments{
  background-color: #996767;
}
#switchAd{
  width: 70%;
}
#footer1{
  text-align: center;
  background-color: #2c3e50;
  color: white;
}
#footer2{
  text-align: center;
  background-color: grey;
  color: white;
}
#banner{
  width: 100%;
  height: 20px;
}

/*------------------------------------------------------------- CATEGORIA X ESTTILOS -------------------------------------------------------------*/

a{
  color: black;
}

.CategoryHeader{
  padding-left: 25px;
  padding-right: 25px;
}

.CategorySidebar{
  padding-left: 25px;
  padding-right: 25px;
}

.CategoryNavSubCategory{
  float: left;
}

.CategoryNavVerticalMenu{
  float: right;
}

.ImgHeader{
  position: relative;
}

.ImgCategory{
  position: relative;
}

#CategoryWhite{
  color: white;
}

#CategoryWhite:hover{
  color: #2ba6cb;
}

.OverlayHeader{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 0;
  text-align: center;
  font-size: xx-large;
  color: white;
}

.OverlayCategory{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #77777777;
  padding: 70px 0;
  text-align: center;
  color: white;
}

/*
.OverlayArticle{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #77777777;
  text-align: center;
}

.OverlayArticle img{
  height: 65px;
  width: 65px;
  background-color: black;
  border-radius: 15px;
}
*/

.ImgCategory:hover .OverlayCategory S{
  background-color: grey;
}

.CategoryArticles img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.CategoryArticles C{
  float: right;
}

.Pages{
  text-align: center;
}

.CategoryAdvertisement{
  text-align: center;
}

.CategorySidebar h5{
  border-bottom: 2px solid black;
}

.CategorySidebar p{
  font-size: 15px;
}

.CategorySidebar T{
  background-color: black;
  border-bottom: 3px solid black;
  color: white;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.ImgSidebar{
  height: 75px;
  width: 75px;
  background-color: lightgrey;
  border-radius: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------ SUBCATEGORIA X ESTTILOS -----------------------------------------------------------*/

#IH1{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#IH2{
  height: 204px;
  width: 955px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#IH3{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#IH4{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------- CATEGORIA Y ESTTILOS -------------------------------------------------------------*/

.ImgCategoryY{
  position: relative;
  margin-left: 1px;
  margin-right: 1px;
}

.OverlayCategoryY{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #77777717;
  padding: 80px 0;
  text-align: center;
  color: white;
}

.ImgCategoryY:hover .OverlayCategoryY S{
  background-color: black;
}

.CategoryNavSubCategoryY{
  text-align: center;
}

#ImgArtSidebar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 280px;
  width: 325px;
}

.EditorPicks{
  text-align: center;
}

.EditorPicks img{
  height: 85px;
  width: 120px;
}

.EditorPicks h5{
  text-align: left;
}

.CategoryArticlesY{
  padding-left: 10px;
  padding-right: 10px;
}

.CategoryAdvertisementBody{
  text-align: center;
}

.CategoryAdvertisementBody img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 210px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------ SUBCATEGORIA Y ESTTILOS -----------------------------------------------------------*/

.ImgSubCategoryY{
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.ImgMidSubCategoryY{
  position: relative;
  margin-top: 2px;
  margin-left: 1px;
  margin-right: 1px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
