#newsLogo{
    width: 3%;
    height: 3%;
}
#breakingNews{
  width: 100%;
}
.container {
  position: relative;
  width: 83%;
  
}
.img{
  float: right;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #aa1b1b;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  text-align: center;
  font-size: 14px;
}
#buscadas {
  position: relative;
  float: right;
  width: 100%;
  height: 300px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
#footer{
  background-color: grey;
}
#footerName{
  text-align: center;
  color: white;
}