/*------------------------------------------------------------- CATEGORIA Y ESTILOS --------------------------------------------------------------*/

#IH1 {
    @extend %imagen-centrada;
}

#IH2 {
    height: 204px;
    width: 955px;
    @extend %imagen-centrada;
}

#IH3 {
    @extend %imagen-centrada;
}

#IH4 {
    @extend %imagen-centrada;
}

.ImgCategoryY {
    position: relative;

    &:hover {
        .OverlayCategoryY {
            S {
                background-color: $colornegro;
            }
        }
    }
}

.OverlayCategoryY {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #77777777;
    padding: 70px 0;
    text-align: center;
    color: $colorblanco;
}

.CategoryNavSubCategoryY {
    text-align: center;
}

#ImgArtSidebar {
    @extend %imagen-centrada;
    height: 280px;
    width: 325px;
}

.CategoryArticlesY {
    padding-left: 10px;
    padding-right: 10px;
}

.CategoryAdvertisementBody {
    text-align: center;

    img {
        @extend %imagen-centrada;
        height: 210px;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
