// Mixins
@mixin border-radius($radio) {
    -webkit-border-radius: $radio;
    -moz-border-radius: $radio;
    -ms-border-radius: $radio;
    -o-border-radius: $radio;
    border-radius: $radio;
}

@mixin relleno($top, $bot, $right, $left) {
    padding-top: $top;
    padding-bottom: $bot;
    padding-right: $right;
    padding-left: $left;
}

@mixin margen($top, $bot, $right, $left) {
    margin-top: $top;
    margin-bottom: $bot;
    margin-right: $right;
    margin-left: $left;
}

@mixin volumen($ancho, $altura){
    width: $ancho;
    height: $altura;
}
