/*------------------------------------------------------------ SUBCATEGORIA Y ESTILOS ------------------------------------------------------------*/

.ImgSubCategoryY {
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.ImgMidSubCategoryY {
    position: relative;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 1px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
