/*---------------------------------------------------------------- USERS ESTILOS -----------------------------------------------------------------*/

#ImgUserHeader {
    @extend %imagen-centrada;
}

.UserHeaderBot {
    padding-top: 15px;
    text-align: center;

    h2 {
        padding-top: 40px;
    }
}

#ImgUser {
    border-radius: 100px;
    @include volumen(180px, 180px);
    @extend %imagen-centrada;
}

.UserBtn {
    display: inline-block;
    padding-top: 50px;
}

.UserAdvertisement {
    margin-bottom: 20px;
    @include volumen(150px, 150px);
    @extend %imagen-centrada;
}

.ImgUserPhotos {
    @include volumen(350px, 350px);
    @extend %imagen-centrada;
}

#panel4 {
    text-align: center;
}

.ModuleAdvertisementA {
    text-align: center;
    background-color: $colorgrisclaro;
    @include relleno(25px, 25px, 30px, 30px);
}

.ModuleAdvertisementB {
    text-align: center;
    background-color: $colorgrisoscuro;
    @include relleno(25px, 25px, 30px, 30px);
}

#FreePremiumU{
    @include volumen(100px, 100px);
    @extend %imagen-centrada;
}

.AdvModule{
    text-align: center;
    #AdvImg{
        margin-top: 20px;
        margin-bottom: 20px;
        @include volumen(400px, 300px);
        @extend %imagen-centrada;
    }
}

#ReportImg{
    margin-bottom: 30px;
    @include volumen(1000px, 350px);
    @extend %imagen-centrada;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
